{% load static %}
<!--引入样式文件-->
<link rel="stylesheet" href="{% static 'markdown_editor/css/editormd.preview.css' %}" />

<!--引入js文件-->
<script src="{% static 'markdown_editor/js/jquery.min.js' %}"></script>
<script src="{% static 'markdown_editor/lib/marked.min.js' %}"></script>
<script src="{% static 'markdown_editor/lib/prettify.min.js' %}"></script>
<script src="{% static 'markdown_editor/lib/raphael.min.js' %}"></script>
<script src="{% static 'markdown_editor/lib/underscore.min.js' %}"></script>
<script src="{% static 'markdown_editor/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'markdown_editor/lib/flowchart.min.js' %}"></script>
<script src="{% static 'markdown_editor/lib/jquery.flowchart.min.js' %}"></script>
<script src="{% static 'markdown_editor/js/editormd.min.js' %}"></script>